* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}
body {
    background-color: #111;
    width: 100%;
		font-family: Tahoma, Verdana, Segoe, sans-serif;
}
.header-font {
		font-family: Georgia, Times, "Times New Roman", serif;
}
.body-font {
		font-family: Tahoma, Verdana, Segoe, sans-serif;
}
.full-width{
    width: 100%;
}
.transparent {
		background-color: transparent;
}
.glossy {
		color: #eee;
    text-shadow: 0px 1px 1px #666,
    						 0px -1px 1px #666,
    						 0px 2px 1px #444,
    						 0px -2px 1px #444;
}
.box-glossy{
    box-shadow: inset 0px 0px 60px #444;
}
.icon-white, .icon-white a{
    font-size: 1.2em;
    margin: auto;
    padding: 16px 20px 10px 0px;
}
.navbar-inner {
    background-color: #111;
    height: 50px;
}
#top-panel h3 {
		font: 22px 'Fanwood Text', serif;
		margin-top: 12px;
		text-indent: 12px;
}
.insight-block {
		height: 50%; 
		padding:10px 10px;
}
.insight-label {
		color: #eee;
		text-indent: 5px;
		width: 120px;
		margin-bottom: 5px;
		padding: 1.5px 0px;
}
.insight-block img {
		padding: 0px;
		height: 63px;
		width: 100px;
}
.insight-block h5 {
		color: #eee;
		margin-top: 0px;
}
#right-panel {
		height: 100%;
		padding: 0;
}
#accordion h2 {
		padding: 0.5em 1em;
		color: #eee;
		font-size: 1em;
}
#accordion div {
		padding: 0 0.3em;
		margin: 0;
		font-size: 12px;
}
.btn-range {
		color: #666;
		border: 1.8px solid #111;
}
